$colorNaranja: #f75036;
$colorAzul: #3f87df;
$colorVerde: #a8d8b7;
$colorBlanco: #ffff; 
@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600&display=swap');

body{
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
   
}
main{
    overflow: scroll;  
    scroll-behavior: smooth;
}
nav{
    position: sticky;
    background-image: url(./assets/imagenes/fondos/fondoNavBarv2.png);
    background-size: cover;

    .nav-link{
        color: $colorBlanco;
        text-shadow: 2px 2px 5px  black;
       
    }
   .nav-item :hover{
        color: $colorNaranja;
        transition: 1s;
   }
} 

.landingSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    height: 90vh;
    width: 100vw;
    background-image: url(./assets/imagenes/fondos/BackgroundMobile.png);
    .profileImg{
        border-radius: 50%;
        border: solid;
        border-color: $colorBlanco;
        margin-bottom: 15px;
        transition: transform 2s;
        box-shadow: 2px 2px 2px $colorVerde;
  
    }
  
    /* Establecer la animación al pasar el mouse por encima */
    img:hover {
        animation: spin 2s;
        border-color: $colorNaranja;
        box-shadow: 2px 2px 2px black;
        transition: 1s;
    }
    
    /* Definir la animación con @keyframes */
    @keyframes spin {
        0% {
        transform: rotateY(0deg);
        }
        25% {
            transform: rotateY(45deg);
        }
        50% {
        transform: rotateY(180deg);
        }
        100% {
        transform: rotateY(360deg);
        }
    }
    .tituloLanding{
        color: $colorBlanco;
        font-family: 'fira code', monospace;
        font-weight: 600;
        
        
    }
    .subLanding{
        width: 80vw;
        color: $colorBlanco;
        text-align: center;
        font-family: 'fira code', monospace;
        font-weight: 400;
      
    }
}

.contenedorBotonesLanding{
    display: none;
}

.filmSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 90vh;
    width: 100vw;
    background-image: url(./assets/imagenes/fondos/videoMobile.jpg);
    background-size: cover;
    h1{
        font-family: 'fira code', monospace;
        font-weight: 400;
        color: $colorNaranja;
        text-shadow: 2px 2px 5px  black;
    }

    .contYT {
        height: 35% ;
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-around
        
    }
    .contIG{
        height: 50%;

        width: auto;
        align-content: center;
    }

}
.devSection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 90vh;
    width: 100vw;
    background-image: url(./assets/imagenes/fondos/devMobile.png);
    background-size: cover;
    h1{
        height: 10%;
        width: 95%;
        margin-top: 5px;
        font-family: 'fira code', monospace;
        font-weight: 400;
        text-align: center;
        color: $colorBlanco;
        text-shadow: 2px 2px 3px  $colorNaranja;
    }
    .contProjects{  
        height: 80%;
        display: flex;
        flex-direction: column;
        align-content: space-around;
        justify-content: center;
        .card {
                display: flex;
                flex-direction: column;
                border: 1px solid $colorNaranja;
                border-radius: 8px;
                box-shadow: 2px 2px 6px $colorNaranja;
                margin: 10px;
                max-width: 300px;
            }
            
            .card img {
                width: 100%;
                border-radius: 8px 8px 0 0;
            }
            
            .card-description {
                padding: 10px;
            }
            
            .card-description h2 {
                margin-top: 0;
            }
            
            .card-description p {
                margin-bottom: 10px;
            }
            
            .card-description a {
                background-color: #007bff;
                color: #fff;
                padding: 5px 10px;
                border-radius: 4px;
                text-decoration: none;
                transition: background-color 0.2s ease-in-out;
            }
            
            .card-description a:hover {
                background-color: #0069d9;
            }
    }   
      
}

footer{
    height: 10vh;
    width: 100vw;
    display: flex;
    background-color: black;
    justify-content: space-around;
    align-items: center;
    position: relative;
    
    h3{
        color: $colorBlanco;
        font-family: 'fira code', monospace;
        font-weight: 300;
        }
    .botonIG{
        display: flex;
        height: 28px;
        width: 28px;
        justify-content: center;
        background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
        border: none;
        border-radius: 5px;
    }
    
    .botonYT{
        display: flex;
        height: 28px;
        width: 30px;
        justify-content: center;
        background: red; 
        border: none;
        border-radius: 5px;
    }
  
    .botonGH{
            display: flex;
            height: 28px;
            width: 28px;
            justify-content: center;
            background: $colorAzul; 
            border: none;
            border-radius: 5px;
    }
    .botonYT:hover, .botonIG :hover, .botonGH :hover{
        transition: 1s;
        background-color: $colorBlanco;
    }

   
}
